<div *ngFor="let cartel of carteles" class="mb-5">
    <h1>
        {{ cartel.nombre | uppercase }} <small> ({{ cartel.ilustrador }})</small></h1>
    <hr>

    <div class="row">
        <div class="col-md-4">

            <img src="{{cartel.url}}" class="img-fluid">
            <br>


        </div>

        <div class="col-md-8">
            <h3>{{cartel.nombre}}</h3>
            <hr>
            <p>Ilustrador: {{cartel.ilustrador}}</p>
            <p>Grupo: {{cartel.grupo}}</p>
            <p>Subgrupo: {{cartel.subgrupo}}</p>
            <p>Tipo de ilustración: {{cartel.tipoIlustracion}}</p>

            <div>
                <a [routerLink]="['/coleccion']" class="btn btn-outline-danger mt-3">Regresar</a>
            </div>

        </div>

    </div>

</div>