<div class="jumbotron jumbotron-fluid mt-3">
    <div class="container animated fadeUp">
        <h1 class="display-4">Bienvenidos al mundo del coleccionismo!</h1>
        <p class="lead">Esto es una base de datos de carteles originales

        </p>
    </div>
</div>