<div class="row mb-5">
    <div class="col-10">
        <h3>Introducir nuevo registro</h3>
    </div>

    <div class="col-2"><button class="bn btn-outline-secondary" [routerLink]="['/coleccion']">Volver a la Colección</button></div>
</div>


<form [formGroup]="formulario">
    <div class="row">

        <div class="col-6">
            <div class="form-group">
                <label for="nombreInput">Nombre del Cartel</label>
                <input type="text" class="form-control" id="nombreInput" formControlName="nombre">
            </div>
            <div class="form-group">
                <label for="apellidoInput">Grupo</label>
                <input type="text" class="form-control" id="apellidoInput" formControlName="grupo">
            </div>
            <div class="form-group">
                <label for="correoInput">Subgrupo</label>
                <input type="text" class="form-control" id="correoInput" formControlName="subgrupo">
            </div>
            <div class="form-group">
                <label for="correoInput">Fecha del cartel</label>
                <input type="date" class="form-control" id="correoInput" formControlName="fecha">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="correoInput">Ilustrador</label>
                <input type="text" class="form-control" id="correoInput" formControlName="ilustrador">
            </div>
            <div class="form-group">
                <label for="correoInput">Tipo de Ilustración</label>
                <input type="text" class="form-control" id="correoInput" formControlName="tipoIlustracion">
            </div>
            <div class="form-group">
                <label for="correoInput">Valoración (€)</label>
                <input type="number" class="form-control" id="correoInput" formControlName="valoracion">
            </div>
            <div class="jumbotron text-center" (dragover)="ficherosPorEncima($event)" (dragleave)="ficherosPorFuera($event)" (drop)="ficherosSoltados($event)" [ngClass]="{'oscurecerFondo': estaEncima}">
                Imagen (Arrastra aquí la imagen que quieras subir)
            </div>
        </div>

        <button class="btn btn-primary mt-2" [disabled]="formulario.invalid" (click)="guardarRegistro()">Guardar</button>


    </div>
</form>