<h1 class="animated fadeIn">Lista de Carteles</h1>
<hr>
<div class="card-columns animated fadeUp">
    <app-cartel *ngFor="let cartel of carteles | cargarIdentificadores" [cartel]="cartel"></app-cartel>
</div>