<div class="jumbotron jumbotron-fluid mt-3">
    <div class="container animated fadeUp">
        <h1 class="display-4">Sube tus archivos aquí!</h1>
        <a [routerLink]="['/formIndividual']" class="btn btn-outline-success btn-block ">Registro Individual</a>
        <a [routerLink]="['/formMultiple']" class="btn btn-outline-danger btn-block ">Subida múltiple de fotos</a>
    </div>
</div>