<h1>
    Formulario subida de imagenes</h1>
<hr>
<div class="row">
    <div class="col">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre del fichero</th>
                        <th>Tamaño</th>
                        <th>Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let imagen of imagenes">
                        <td>{{ imagen.nombre }}</td>
                        <td> {{ imagen.peso }}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="imagen.progreso"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" (click)="subirFicheros()">Subir Ficheros</button>
        <button (click)="limpiarLista()" class="btn btn-secondary ml-3">Limpiar lista</button>
    </div>

    <div class="col">
        <div class="jumbotron text-center" (dragover)="ficherosPorEncima($event)" (dragleave)="ficherosPorFuera($event)" (drop)="ficherosSoltados($event)" [ngClass]="{'oscurecerFondo': estaEncima}">
            Arrastra aqui las imágenes que quieras subir
        </div>
    </div>
</div>