<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/portada']" href="#">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/coleccion']">Colección</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/nuevoRegistro']">Nuevos Registros</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/about']">Sobre mí</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0" (submit)="cancelarEnvio($event)">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #termino (keyup.enter)="buscarTermino(termino.value)">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarTermino(termino.value)">Search</button>
        </form>
    </div>
</nav>