<div class="card">
    <img [src]="cartel.url" class="card-img-top " alt="">
    <div class="card-body ">
        <h5 class="card-title">{{cartel.nombre}}</h5>
        <p class="card-text">{{cartel.ilustrador}}</p>
        ID {{cartel.id}}
        <!-- <a [routerLink]="" class="btn btn-outline-secondary btn-block ">Ver detalle</a> -->
        <button (click)="verDetalle(cartel.id)" class="btn btn-outline-secondary btn-block">Ver detalle</button>
    </div>
</div>